h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    background-color: rgb(39, 23, 0);
}
h2{
    color:rgb(78, 56, 36);
    font-size: 30px;
    text-align: center;
}
body{
    background-color: rgb(51, 27, 0);
}
img{
    width: 45.6%;
}
h3{
    color:rgb(179, 89, 5);
    font-size: 30px;
    text-align: center;
}